#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=RitesDev App
Comment=All RitesDev management tools in one tabbed window
Exec=/run/media/RitesDev/LinuxStorage/Projects/websites/RitesDev-ecosystem/devApps/ritesDevApp/launch.sh
Icon=/run/media/RitesDev/LinuxStorage/Projects/websites/RitesDev-ecosystem/public/media/logo.svg
Categories=Development;Utility
Terminal=false
StartupNotify=true
